.home{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    
}


.bio {
    width: max-content;
    color: #d7f484;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    position: relative;
  }
  
  .bio::before,
  .bio::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .bio::before {
    background: #1e1e1e;
    animation: typewriter 2.5s steps(24) 500ms forwards;
  }
  
  .bio::after {
    margin-left: 0.4rem;
    width: 0.125em;
    background: white;
    animation: typewriter 2.5s steps(24) 500ms forwards,
      blink 750ms steps(24) infinite;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  .main{
    height:93vh;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   .main::-webkit-scrollbar {
    width: 10px;
  }

  .main::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  }

  .main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333333;
  } 
 @media (min-width:750px) and (max-width:900px) {
    /* .media{
      width: 6.5vw !important;
    } */

    .explo{
      width: 18vw !important;
    }

    .main{
      width: 75.5vw !important;
    }
    .profile_img{
      width: 85vw;
  
    }
  
    .profile_img div{
      height: 220px !important;
      width: 220px !important;
      margin-right: auto;
      margin-left: auto;
    }
 }

 @media (min-width:750px) and (max-width:900px){
  .name_box,.profile_img{
    width: 100% !important;
  }
  .main_home{
    margin-top: 2rem;
  }
 }

 @media (min-width:500px) and (max-width:749px){
  .explo{
    display: none !important;
  }
  .media{
    width: 8vw !important;
    padding: 1%;
  }
  .main{
    width: 92vw !important;
  }

  .profile_img,.name_box{
    width: 85vw;

  }

  .profile_img img{
    height: 220px !important;
    width: 220px !important;
    margin-right: auto;
    margin-left: auto;
  }
  
 }

 @media (max-width:500px){
  .explo{
    display: none !important;
  }
  .media{
    width:15vw !important;
    padding: 2%;
  }
  .main{
    width: 85vw !important;
  }

  .profile_img,.name_box{
    width: 85vw;
  }

  .profile_img img{
    height: 200px !important;
    width: 200px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .bio{
    font-size: 1.2rem;
  }

  
 }
   
 @media (max-width:590px){
   .footer p{
     max-width: 100px !important;
     text-align: center;
   }
 }
 
 @media (max-width:750px) {
   .main{
    height:93vh;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   .main::-webkit-scrollbar {
    width: 10px;
  }

  .main::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  }

  .main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333333;
  } 
 }