.mobNav,.mobModal{
  display: none;
}
.menu {
    padding: 0.5rem 1.25rem;
    background: #2d2d2d;
    color: #ececec;
    display: flex;
    align-items: center;
    border-right: #393e46 solid 1px;
    border-left: #393e46 solid 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
.active {
    border: 0;
    background: #1e1e1e;
    border-bottom: none;
  }

  @media screen and (max-width:748px) {
    .navb{
      display: none;
    }
    .mobNav{
      display: block;
      
    }
    .mobModal{
      display: block;
      width: 90%;
      margin: 1% auto 0 auto;
      background-color: #1f2428;

    }
  }