@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,700&family=Mulish:wght@200;300&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,700&display=swap');
.projectCard{
    width: 30%;
    height: 60vh;
    background-color: #1f2428;
    border-radius: 1rem;
    font-family: 'JetBrains Mono';
    margin: 2% 1.3%;
    min-width: 250px;
}


.projectImg{
    width:100% ;
    height: 50% ;
    border-radius: 1rem;
}

/* .main{
    max-height: 85vh;
    overflow-y: scroll;

} */

.bttns{
    margin-top: 10%;
    
}

@media (min-width:1251px) and (max-width:1300px){
   
    .btns{
        font-size: 13px !important;
        height: 40px;
       
    }
    .bttns{
        margin-top: 15%;
        
    }
}

@media (min-width:955px) and (max-width:991px){
    .btns{
        font-size: 10px !important;
    }
    .bttns{
        margin-top: 15%;
        align-items: center;
    }

}

@media (min-width:801px) and (max-width:955px){
    .projectCard{
        width: 45% !important;
    }
    .contain{
        justify-content: center;
    }
    .btns{
        font-size: 13px !important;
    }
    .bttns{
        margin-top: 18%;
        align-items: center;
    }

}


@media (min-width:955px) and (max-width:1250px){
    .projectCard{
        width: 40%;
    }
    .contain{
        justify-content: center;
    }
    .btns{
        font-size: 15px !important;
    }
    .bttns{
        margin-top: 12%;
        align-items: center;
    }

}
@media (min-width:600px) and (max-width:800px){
    .projectCard{
        width: 60%;
        margin: 10px auto;
    }
    .bttns{
        margin-top: 15%;
    }

}

@media (min-width:500px) and (max-width:599px){
    .projectCard{
        width: 85%;
        margin: 20px 0;
    }
    .bttns{
        margin-top: 15%;
    }
    .contain{
        justify-content: center;
    }
}

@media  (max-width:499px){
    .projectCard{
        width: 98%;
        margin: 20px 0;
    }
    .bttns{
        margin-top: 25%;
    }
    .contain{
        justify-content: center;
    }
    .btns{
        font-size: 12px !important;
    }
}

/* .main::-webkit-scrollbar {
    width: 10px;
}

.main::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333333;
}  */